.card {
    border: none !important;
    font-family: "Josefin Sans", sans-serif;
}

.destination-photo {
    width: 30%;
    height: 200px;
}

.destination-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fee {
    font-size: 20px;
}

@media (max-width: 991px) {
    .destination-photo {
        width: 60%;
        height: 250px;
    }
}
@media (max-width: 768px) {
    .destination-photo {
        width: 100%;
        height: 200px;
    }
}