
.logo {
    display: block;
    color: blue;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-right: 14px;
}

 .logo .bi-airplane {
    display: block;
    margin: auto;
    transform: rotate(60deg);
    font-size: 14px;
    color: blue;
    margin-top: -52px;
}




.modal-content{
    padding: 30px 30px 25px 30px;
}

.modal-content .modal-body form label{
    font-size: 13px;
    font-family: "Josefin Sans", sans-serif;
}

.modal-content .modal-body form input{
    font-size: 13px;
    font-family: "Josefin Sans", sans-serif;
}

.modal-content .modal-body form select{
    font-size: 13px;
    font-family: "Josefin Sans", sans-serif;
}